.home-search-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), image-url('home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  background-color: rgb(201, 76, 76);
  font-family: 'ABeeZee', sans-serif;
}

.home-search-container-heading {
  padding-top: 120px;
  color: white;
  font-size: 50px;
  width: 100%;
  margin: auto;
}

.home-search-dropdown-left {
  height: 45px;
  width: 180px;
  background-color: white;
  margin-left: 30px;
  border-radius: 3px;
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.home-search-dropdown-left input {
  background: transparent;
  padding-left: 30px;
}
.home-search-dropdown-center {
  height: 45px;
  width: 180px;
  background-color: white;
  margin: 0;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 3px;
  position: relative;
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
  font-size: 20px;
}


.home-search-dropdown-right {
  height: 45px;
  width: 180px;
  background-color: white;
  margin-right: 30px;
  border-radius: 3px;
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
  font-size: 20px;
}

.hidden {
  display: none;
}

.home-search-input{
  height: 45px;
  width: 250px;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 3px;
  text-align: left;
  padding-left: 8px;
}
.home-search-submit {
  height: 45px;
  background-color: #da3743;
  border-color: #b8222d;
  text-align: center;
  border-radius: 3px;
  width: 180px;
  color: white;
  margin-left: 30px;
}

.home-index-container-heading {
  margin: 10px 0 0 20px;
  font-size: 30px;
}

.home-index-list {
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin: 10px 10px 50px 10px;
}

.home-index-item {
  width: 238px;
  height: 254px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  border: 1px solid #d8d9db;
  border-radius: 4px;
  margin: 10px;
}

.home-index-picture {
  width: 238px;
  height: 127px;
}

.home-index-name {
  width: 238px;
  height: 20px;
  margin: 4px 0 0 3px;
  font-weight: 800;
}
.home-index-row {
  width: 238px;
  height: 20px;
  margin: 4px 0 0 3px;
}

.cuisine-container-heading {
  margin: 10px 0 0 20px;
  font-size: 30px;
}
.cuisine-list{
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin: 10px;
}
.cuisine-item {
  width: 200px;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  border: 1px solid #d8d9db;
  border-radius: 4px;
  margin: 10px;
  position: relative;
  text-align: center;
}
.cuisine-picture {
  height: 100%;
  filter: brightness(.5);
}

.cuisine-words {
  position: absolute;
  bottom: 100px;
  color: white;
  font-family: 'ABeeZee', sans-serif;
  margin:5px;
}
